    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="/"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Admin</h5>
          <li class="mt">
            <a href="/">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/employe" class="active">
              <i class="fa fa-user"></i>
              <span>Gestion des Employés</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/conge" class="active">
              <i class="fa fa-calendar"></i>
              <span>Gestion des Congés</span>
              </a>
          </li>
          <li class="sub-menu">
            <a class="active" href="/absence">
              <i class="fa fa-book"></i>
              <span>Gestion des Absences</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/offre" class="active">
              <i class="fa fa-tasks"></i>
              <span>Gestion des Offres</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/postule" class="active">
              <i class="fa fa-th"></i>
              <span>Gestion des candidatures</span>
              </a>
          </li>
          <li>
            <a href="inbox.html">
              <i class="fa fa-envelope"></i>
              <span>Mail </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-bar-chart-o"></i>
              <span>Charts</span>
              </a>
            <ul class="sub">
              <li><a href="morris.html">Morris</a></li>
              <li><a href="chartjs.html">Chartjs</a></li>
              <li><a href="flot_chart.html">Flot Charts</a></li>
              <li><a href="xchart.html">xChart</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
            <ul class="sub">
              <li><a href="lobby.html">Lobby</a></li>
              <li><a href="chat_room.html"> Chat Room</a></li>
            </ul>
          </li>
          <li>
            <a href="google_maps.html">
              <i class="fa fa-map-marker"></i>
              <span>Google Maps </span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->