<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeleaf/layout"
	layout:decorator="template" >
<head>
<meta charset="UTF-8" />
  <title>Gestion Congé</title>
</head>
<body>
	<div layout:fragment="content">
  	  <h1>Gestion Congé</h1>
	  	   <div class="top-menu">
		       <ul class="nav pull-right top-menu">
		         <li><a class="logout" th:href="@{'/nouveauconge'}">Créer un nouveau congé</a></li><br/><br/>
		       </ul>
		     </div>
			<div class="panel panel-success">
			   <div class="panel-heading">
					<h4 class="inner-tittle">Détail Congé</h4>
				</div>
				<div class="panel-body">
					<table id="table" class="table table-bordered" th:object="${conge}">
						
						<tr >
							<td>Code</td>
							<td><span th:text="${conge.id}"></span></td>
						</tr>
						<tr >
							<td>Date Debut Congé</td>
							<td><span th:text="${conge.datebebut}"></span></td>
						</tr>
						<tr >
							<td>Date Fin Congé</td>
							<td><span th:text="${conge.datefin}"></span></td>
						</tr>
						<tr >
							<td>Nature ou TYpe de congé</td>
							<td><span th:text="${conge.nature}"></span></td>
						</tr>
						<tr >
							<td>Employé en congé</td>
							<td><span th:text="${conge.employee}"></span></td>
						</tr>
					</table>

				</div>
			</div>
		</div>
</body>
</html>
