<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeleaf/layout"
	layout:decorator="template" >
<head>
<meta charset="UTF-8" />
  <title>Liste des employés</title>
</head>
<body>
	<div layout:fragment="content">
  	  <h1>Liste des employés</h1>
	  	   <div class="top-menu">
	        <ul class="nav pull-right top-menu">
	          <li><a class="logout" th:href="@{'/nouveauemploye'}">Créer un nouvel employé</a></li><br/><br/>
	        </ul>
	      </div>
			<div class="panel panel-success">
			   <div class="panel-heading">
					<h4 class="inner-tittle">Gestion Employé</h4>
				</div>
				<div class="panel-body">
					<table id="table" class="table table-bordered">
						<tr>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Fonction</th>
							<th>Action</th>
						</tr>

						<tr th:each="employes,iterStat : ${employes}">
							<td><span th:text="${employes.prenom}"></span></td>
							<td><span th:text="${employes.nom}"></span></td>
							<td><span th:text="${employes.fonction}"></span></td>
							<td><a th:href="@{'/detailemploye&' + ${employes.id}}" class="btn btn-info">Détail</a>
								&nbsp;&nbsp;&nbsp;
							   <a th:href="@{'/updateemploye&' + ${employes.id}}" class="btn btn-success">Éditer</a>
								&nbsp;&nbsp;&nbsp;
								<a th:href="@{'/deleteemploye&' + ${employes.id}}" class="btn btn-danger">Supprimer</a> 
		
							</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
</body>
</html>
