<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeleaf/layout"
	layout:decorator="template" >
<head>
<meta charset="UTF-8" />
  <title>Liste des formations</title>
</head>
<body>
	<div layout:fragment="content">
  	  <h1>Liste des formations</h1>
	  	   <div class="top-menu">
	        <ul class="nav pull-right top-menu">
	          <li><a class="logout" th:href="@{'/nouvelleformation'}">Créer un nouvelle formation</a></li><br/><br/>
	        </ul>
	      </div>
			<div class="panel panel-success">
			   <div class="panel-heading">
					<h4 class="inner-tittle">Gestion Formation</h4>
				</div>
				<div class="panel-body">
					<table id="table" class="table table-bordered">
						<tr>
							<th>Libelle</th>
							<th>Duree</th>
							<th>Date Formation</th>
							<th>Action</th>
						</tr>

						<tr th:each="formations,iterStat : ${formations}">
							<td><span th:text="${formations.libelle}"></span></td>
							<td><span th:text="${formations.duree}"></span></td>
							<td><span th:text="${formations.dateFormation}"></span></td>
							<td><a th:href="@{'/detailformation&' + ${formations.id}}" class="btn btn-info">Détail</a>
								&nbsp;&nbsp;&nbsp;
							   <a th:href="@{'/updateformation&' + ${formations.id}}" class="btn btn-success">Éditer</a>
								&nbsp;&nbsp;&nbsp;
								<a th:href="@{'/deleteformation&' + ${formations.id}}" class="btn btn-danger">Supprimer</a> 
		
							</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
</body>
</html>
