<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeleaf/layout"
	layout:decorator="template" >
<head>
<meta charset="UTF-8" />
  <title>Mettre à jour une formation</title>
</head>
<body>
	<div layout:fragment="content">
  	<h1>Mettre à jour une formation</h1>
   <div class="top-menu">
     <ul class="nav pull-right top-menu">
       <li><a class="logout" th:href="@{'/nouvelleformation'}">Créer une nouvelle formation</a></li><br/><br/>
     </ul>
   </div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="inner-tittle">Modification formation</h4>
		</div>
		<div class="panel-body">
			<form action="#" th:action="@{/enregistreformation}" th:object="${formation}"
				method="post">

				<div class="form-group col-md-6">
					<tr>
						<td>Code :</td>
						<td><input type="text" th:field="*{id}" readonly="readonly"
							class="form-control" required /></td>
					</tr>
				</div>
				<div class="form-group col-md-6">
					<tr>
						<td>Libellé:</td>
						<td><input type="text" th:field="*{libelle}"
							class="form-control" required /></td>
					</tr>
				</div>
				<div class="form-group col-md-6">
					<tr>
						<td>Date formation :</td>
						<td><input type="date" th:field="*{dateFormation}"
							class="form-control" required /></td>
					</tr>
				</div>
				<div class="form-group col-md-6">
					<tr>
						<td>Durée formation :</td>
						<td><input type="text" th:field="*{duree}"
							class="form-control" required /></td>
					</tr>
				</div>
				<div class="form-group col-md-12">
						<tr>
							<td>Employé:</td>
							<td>
							<select th:field="*{employee}" class="form-control" required >
							    <option th:each="employe : ${employes}" th:value="${employe.id}" th:text="${employe.prenom} +' '+ ${employe.nom} " />
							</select></td>
						</tr>
					</div>
				
					<div class="form-group col-md-6">
						<tr>
							<td colspan="2"><button type="submit"
									class="btn btn-primary">Update</button></td>
						</tr>
					</div>
					<div class="form-group col-md-6">
						<tr>
							<td colspan="2"><button type="reset"
									class="btn btn-danger">Annuler</button></td>
						</tr>
					</div>
			</form>
		  </div>
		</div>
	</div>
</body>
</html>
